/*This is css for "receipes.js" */

:root{
    --brown: #302321;
    --caramel: #e09616;
    --lighBrown:#583e3a;
}
*{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
  
}
/*have css for dish name and cook name.*/
.hi{
  padding: 100px;
}

.ingre{
  font-size: large;
  color: #e09616;
  padding: 50px;
}

.ingre + p{
  color: var(--caramel);
  margin-top: -50px;
}

/*this is css for ingredients and image box or box-1*/
.ingredients-image{
  display: grid;
  grid-template-columns: 300px 880px;
  grid-template-areas: "ingredients image";
  grid-gap: 50px;
  
}

/* abox having css for ingredients*/
.ingredients{
  background-color: var(--brown);
  height: max-content;
  grid-area: ingredients;
  border-radius: 5px;
  color: var(--caramel);
  padding: 10px;
  
}

/* abox having css for final image of dish.*/
.image{
 
  height: 500px;
  grid-area: image;
  border-radius: 5px;
  display: flex;
  align-items: center;
  
}

.image > img{
  width: 92%;
  height: 92%;
  margin: 3%;
  border-radius: 5px;
  border: 20px solid var(--caramel);
 
  
}

/* a box having css for box-2 and ingredients and steps*/
.video-steps{
  display: grid;
  grid-template-columns: 600px 600px;
  grid-template-areas: "video steps";
  margin: 10%;
  

}

/* a box having css for final video*/
.video{
  background-color: var(--brown);
  height: max-content;
  grid-area: video;
  border-radius: 5px;
  color: var(--caramel);
  padding: 10px;
  margin: 10px;
 
}

/*having css for the steps.*/
.steps{
 
 
  grid-area: steps;
  border-radius: 5px;
  color: var(--caramel);
  padding: 10px;
  height: 500px;
  width: 600px;
  
  
}

video{
  border: 10px solid var(--brown);
  
  
}

@media screen and (max-width:440px) {
    .hi{
      display: flex;
      flex-direction: column;
      padding: 5px;

     
     
    }

    .ingredients-image{
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 1px;
      padding: 1px;
      
    }

   .image{
    padding: 1px;
    width: 100%;
   
   }

   .image > img{
    border: 4px solid var(--caramel);
   }

   .video-steps{
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 1px;
      padding: 1px;
      
   }

   .video{
      width: 90%;
   }

   .steps{
    width: 95%;
   }

   video{
    border: 3px solid var(--lighBrown);
   }
}

@media screen and (max-width:840px) {
  .hi{
    display: flex;
    flex-direction: column;
    padding: 5px;

   
   
  }

  .ingredients-image{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 1px;
    padding: 1px;
    
  }

  .ingredients{
    width: 100%;
  }

 .image{
  padding: 1px;
  width: 100%;
 
 }

 .image > img{
  border: 4px solid var(--caramel);
 }

 .video-steps{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1px;
    padding: 1px;
    
 }

 .video{
    width: 90%;
 }

 .steps{
  width: 95%;
 }

 video{
  border: 3px solid var(--lighBrown);
 }
}

@media screen and (max-width:1240px) {
  .hi{
    display: flex;
    flex-direction: column;
    padding: 5px;

   
   
  }

  .ingredients-image{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 1px;
    padding: 1px;
    
  }

  .ingredients{
    width: 100%;
  }

 .image{
  padding: 1px;
  width: 100%;
 
 }

 .image > img{
  border: 4px solid var(--caramel);
 }

 .video-steps{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1px;
    padding: 1px;
    
 }

 .video{
    width: 90%;
 }

 .steps{
  width: 95%;
 }

 video{
  border: 3px solid var(--lighBrown);
 }
}