/* adding style to login page*/
.formStyle{
       width: 30%;
        margin: auto;
        margin-top:150px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 30px;
        font-family: Cursive System;
       
}

.topImage {
    width:200px;
    position:absolute;
    top:-110px;
    left:190px;
    width:130px;
    border-radius:50%;
    

}
@media screen and (max-width:440px) {
    .formStyle{
        width: 90%;
        margin: 100px 15px 15px 15px;
        padding: 5px;
       
    }

    .topImage{
        left: 30%;
    }

}

@media screen and (max-width:840px) {
    .formStyle{
        width: 80%;
        margin: 100px 35px 35px 35px;
        padding: 25px;
       
    }
    .topImage{
        left: 30%;
    }
}

@media screen and (max-width:1240px) {
    .formStyle{
        width: 60%;
        margin: auto;
        margin-top: 100px;
        padding: 25px;
       
    }

    .topImage{
        left: 40%;
        top: -120px;
    }
}